@page "/"

<PageTitle>Aplicación de Check-In</PageTitle>

<h1>Bienvenidos!</h1>

Para hacer el check-in de un pasajero, haga click en el item del menú lateral izquierdo "Check-In de Pasajeros" y complete el formulario con los datos del pasajero. 
